# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Dependency directory
package-lock.json

# Miscellaneous
.DS_Store
*.pem
*.key
*.crt
*.pfx
*.p12

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
